.img-wrap{
    width: 100px;
}
.container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: break-word;
    padding: 15px;
}
.card-flex{
    width: 30%;
    padding: 10px;
    color: #808080;
    margin: 3px;
}
.justify-text{
    text-align: justify;
    text-justify: inter-word;
}
.pull-right{
    text-align: right;
}
body > .container-flex > .row > .pull-right{
    margin: 15px;
}
.loader-wrapper{
    width: 100%;
    padding: 30px;
    margin: auto;
    text-align: center;
    display: block;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #000;
    top: 50%;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(180deg);
    }
    
    50% {
        transform: rotate(180deg);
    }
    
    75% {
        transform: rotate(360deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    
    25% {
        height: 0%;
    }
    
    50% {
        height: 100%;
    }
    
    75% {
        height: 100%;
    }
    
    100% {
        height: 0%;
    }
}
@media (max-width: 768px){
    .container-flex{
        width: 100% ;
        display: block ;
        flex-direction: column ;
    }
    .card-flex{
        width: 100% !important;
        margin: 20px 0px;
    }
    body > .container-flex{
        padding: 5px;
    }
    body > .container-flex > .row > h2{
        padding: 15px;
        margin: 15px;
    }
    body > .container-flex > .row > .pull-right{
        padding: 15px;
        margin: 15px;
    }
}
